<div
  class="flex flex-col items-center justify-center p-5 bg-[#ffffff09] dark:bg-[#3b3b3b36] rounded-2xl h-full shadow-[inset_0_1px_0_0_rgba(148,163,184,0.1)] drop-shadow-lg"
>
  <div class="flex items-center justify-center flex-col">
    <!-- Image section, always present -->
    <div
      class="bg-[url('/public/assets/sachin/sachin_display.jpg')] bg-cover bg-center lg:w-48 lg:h-48 md:w-36 md:h-36 h-28 w-28 rounded-full dark:border-white border border-gray-400 lg:my-5 md:my-2.5 my-2"
    ></div>

    <!-- Name section -->
    <div class="lg:w-8 lg:h-8 md:w-6 md:h-6 flex items-center justify-center">
      <i class="pi pi-user text-white md:text-base text-xs mx-3"></i>
      <span class="font-semibold md:text-sm text-xs text-white">SACHIN</span>
    </div>

    <hr class="lg:w-64 md:w-44 w-44 border-[#b0b0b080] my-2" />

    <div class="text-center mt-2">
      <!-- <span class="lg:text-4xl md:text-2xl text-xl hover:animate-shake inline-block mb-2">
        ❤️
      </span> -->
      <blockquote class="lg:text-lg md:text-base text-sm italic font-normal text-white">
        "Hello, I'm a passionate Full Stack Developer crafting seamless web
        experiences from concept to deployment."
      </blockquote>
    </div>
  </div>
</div>
