<section class="lg:px-48 md:px-32 px-8 md:flex justify-center items-center md:mt-0 mt-3 md:h-full">
  <div class="flex flex-col justify-center items-center">
    <h1 class="text-white lg:text-4xl md:text-2xl text-lg text-center font-bold">Get In Touch</h1>
    <div class="text-center text-slate-500 mt-3 lg:text-lg md:text-base">
      My inbox is always open. Whether you have a question or just want to say hi, I’ll try my best to get back to you!
    </div>
    <a href="mailto:sachinvelu06@gmail.com" class="lg:mt-8 md:mt-6 mt-6">
      <button type="button" class="border border-teal-500 md:py-2 md:px-6 text-teal-500  lg:text-lg md:text-base text-sm px-3 py-1 rounded-md hover:outline-none hover:-translate-x-1.5 hover:-translate-y-1.5 hover:shadow-custom">Say Hello</button>
    </a>
  </div>
</section>
