<div class="md:flex flex-col items-center justify-center md:h-full h-max">
  <app-header [header]="'About'" class="w-full"></app-header>
  <div class="lg:mt-4 md:mt-2 mt-2 lg:px-14 md:px-12 px-6 text-[#94a3b8] lg:text-lg md:text-base text-sm text-justify">
    Hey, I'm Sachin, a passionate Web Developer who embarked on this coding
    journey in 2020. Since then, I've immersed myself in crafting elegant,
    efficient, and user-friendly web experiences. Currently working as an
    <strong class="text-white font-semibold hover:text-teal-400 cursor-pointer">Software Developer</strong>, I thrive on turning ideas into reality with
    clean code and intuitive designs.
    <br /><br />
    When I'm not coding or perfecting a new feature, you'll find me indulging in
    my other love—tea. I cherish moments spent away from the screen, surrounded
    by family and friends, sharing laughter and making memories.
    <br /><br />
    Let’s create something amazing together!
  </div>
</div>
