<div>
  <div class="w-8 md:flex flex-col items-center justify-center hidden  after:inline-block after:relative after:align-middle after:h-[100px] after:bg-white after:w-[1px] after:mt-2">
    @for (media of socialMediaList; track media) {
    <div class="my-2 flex items-center justify-center">
      <img
        [src]="darkMode() ? getDarkModeImg(media.path) : media.path"
        class="lg:w-6 lg:h-6 md:w-6 md:h-6 hover:scale-x-150 hover:scale-y-150 cursor-pointer"
        [alt]="media.altText"
      />
    </div>
    }
  </div>
</div>
